<form class="form form_event"
      [ngFormModel]="eventForm"
      (ngSubmit)="onSubmit(eventForm.value)" >
    <div class="form__content">
        <div class="form__part form__part_left">
            <div class="form__group">
                <label for="summary" class="form__label">Summary</label>
                <input type="text" name="summary" class="input" id="summary"
                       #summary="ngForm"
                       [ngFormControl]="eventForm.controls['summary']"/>
            </div>
            <div class="form__group form__group_inline">
                <div class="form__group">
                    <label for="date" class="form__label">Date</label>
                    <input type="text" name="date" class="input input_middle"
                           id="date"
                           #date="ngForm"
                           [ngFormControl]="eventForm.controls['date']" />
                </div>
                <div class="form__group">
                    <label for="startTime" class="form__label">Time</label>
                    <div class="form__group">
                        <input type="text" name="start" class="input input_small"
                               id="startTime"
                               #startTime="ngForm"
                               [ngFormControl]="eventForm.controls['startTime']" />
                        <span class="form__minus">—</span>
                        <input type="text" name="finish" class="input input_small"
                               #endTime="ngForm"
                               [ngFormControl]="eventForm.controls['endTime']" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <label for="description" class="form__label">Description</label>
                <textarea name="description" class="textarea" id="description"
                          #description="ngForm"
                          [ngFormControl]="eventForm.controls['description']"></textarea>
            </div>
            <div class="form__group">
                <label for="place" class="form__label">Place</label>
                <input type="text" name="place" class="input" id="place"
                       #place="ngForm"
                       [ngFormControl]="eventForm.controls['place']" />
            </div>
        </div>
        <div class="form__part">
            <div class="form__group">
                <label for="participants" class="form__label">Participants</label>
                <div class="participants"></div>
                <input type="text" name="participants" class="input" />
            </div>
            <div class="form__group">
                <label for="reminder" class="form__label">Reminder</label>
                <div class="form__group form__group_wide">
                    <input type="text" name="reminder" class="input input_small" />
                    <select class="select select_middle" name="reminder_time">
                        <option value="mm">Minutes</option>
                        <option value="HH">Hours</option>
                        <option value="dd">Days</option>
                        <option value="ww">Weeks</option>
                    </select>
                </div>
            </div>
            <div class="form__group">
                <input type="text" name="one_more" placeholder="One more" class="input" />
            </div>
            <div class="form__group">
                <label for="email" class="form__label">Remind me by email</label>
                <input type="email" name="email" class="input" />
            </div>
        </div>
    </div>
    <div class="form__buttons">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
    </div>
</form>
