<form class="form form_event"
      [ngFormModel]="eventForm"
      (ngSubmit)="onSubmit(eventForm.value)" >
    <div class="form__content">
        <div class="form__part form__part_left">
            <div class="form__group">
                <label for="summary" class="form__label">Summary</label>
                <input type="text" name="summary" class="input" id="summary"
                       #summary="ngForm"
                       [ngFormControl]="eventForm.controls['summary']"/>
            </div>
            <div class="form__group form__group_inline">
                <div class="form__group">
                    <label for="date" class="form__label">Date</label>
                    <input type="date" name="date" class="input input_date"
                           id="date" required
                           #date="ngForm"
                           [ngFormControl]="eventForm.controls['date']" />
                </div>
                <div class="form__group">
                    <label for="startTime" class="form__label">Time</label>
                    <div class="form__group">
                        <input type="time" name="start" class="input input_small"
                               id="startTime" required
                               #startTime="ngForm"
                               [ngFormControl]="eventForm.controls['startTime']" />
                        <span class="form__minus">—</span>
                        <input type="time" name="finish" class="input input_small"
                               #endTime="ngForm" required
                               [ngFormControl]="eventForm.controls['endTime']" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <label for="description" class="form__label">Description</label>
                <textarea name="description" class="textarea" id="description"
                          #description="ngForm"
                          [ngFormControl]="eventForm.controls['description']"></textarea>
            </div>
            <div class="form__group">
                <label for="place" class="form__label">Place</label>
                <input type="text" name="place" class="input" id="place"
                       #place="ngForm"
                       [ngFormControl]="eventForm.controls['place']" />
            </div>
        </div>
        <div class="form__part">
            <div class="form__group">
                <label for="participants" class="form__label">Participants</label>
                <ul class="participants">
                    <li *ngFor="let participant of participants; let $i = index"
                        class="participants__item">
                        <a href="javascript:void(0);"
                           class="participants__remove" (click)="removeParticipant($i, $event)"></a>
                        <span class="participants__text">{{ participant }}</span>
                    </li>
                </ul>
                <input type="email" placeholder="Add participant" name="participants" class="input" id="participants"
                       (keypress)="addParticipant($event)"
                />
            </div>
            <div class="form__group">
                <label for="reminder" class="form__label">Reminder</label>
                <div class="form__group form__group_wide">
                    <div *ngFor="let reminder of reminders; let $i = index"
                        class="reminder">
                        <input type="number" name="reminder" autocomplete="off"
                               [(ngModel)]="reminder.quantity"
                               class="input input_small" />
                        <select class="select select_middle" name="reminder_time"
                                [(ngModel)]="reminder.type">
                            <option value="mm">Minutes</option>
                            <option value="hh">Hours</option>
                            <option value="dd">Days</option>
                            <option value="ww">Weeks</option>
                        </select>
                        <a href="javascript:void(0);" (click)="removeReminder($i, $event)" class="reminder__remove"></a>
                    </div>
                </div>
            </div>
            <div class="form__group">
                <input type="text" name="one_more" id="reminder"
                       autocomplete="off"
                       placeholder="One more" class="input"
                       (click)="addReminder($event)"/>
            </div>
            <div class="form__group">
                <label for="email" class="form__label">Remind me by email</label>
                <input type="email" name="email" class="input" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="form__buttons">
        <button type="submit" md-raised-button color="primary">Save</button>
        <button type="button" md-raised-button (click)="onCancel()">Cancel</button>
    </div>
</form>
