<div class="calendar" *ngIf="(getLoggedIn() | async)">
    <div class="container-fluid">
        <div class="row">
            <div class="calendar__header">
                <div class="col-xs-4">
                    <button md-button (click)="prevMonth()">←</button>
                    <button md-button (click)="today()">Today</button>
                    <button md-button (click)="nextMonth()">→</button>
                </div>
                <div class="col-xs-4">
                    <div class="calendar__title">{{ title }}</div>
                </div>
                <div class="col-xs-4" style="text-align: right;">
                    <button md-raised-button (click)="toggleNewEvent()" color="primary">New event</button>
                    <!--<span dropdown>-->
                        <!--<button md-button dropdownToggle>Settings</button>-->
                        <!--<ul class="dropdown-menu" style="right: 0; left: auto;">-->
                            <!--<li *ngFor="let calendar of getCalendars()">-->
                                <!--<a class="dropdown-item" href="javascript:void(0);">{{ calendar.summary }}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</span>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="calendar__body">
            <div *ngFor="let day of days" class="calendar__day"
                 [class.calendar__day_current]="day.isCurrent"
                 [class.calendar__day_weekend]="day.isWeekend">
                <div [class.calendar__date_other-month]="day.otherMonth"
                     class="calendar__date">{{ day.date }}
                </div>
                <div *ngFor="let event of day.events"
                     dropdown
                     [appendToBody]="true"
                     [hidden]="event.slot > 3 && day.events.length > 5"
                     class="calendar__event"
                     [class.calendar__event_selected]="event.selected"

                     [style.width]="calculateWidth(day, event)"
                     [style.zIndex]="calculatezIndex(day, event)"
                     [style.top]="(16 * event.slot + 30) + 'px'"
                >
                    <span (click)="showEvent(day, event)" dropdownToggle>{{ getSummary(day, event) }}</span>

                    <div class="dropdown-menu dropdown-menu_event">
                        <div class="dropdown-menu__header">
                            <h4>{{ event.summary }}</h4>
                            <h5>{{ formatPeriod(event) }}</h5>
                        </div>

                        <div class="dropdown-menu__description" [hidden]="!event.description">{{ event.description }}</div>
                        <!--<div class="dropdown-menu__actions">-->
                            <!--<button md-button dropdownToggle>Close</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<popup class="popup"
       [ngClass]="{popup_visible: newEventPopupVisible}"
       [togglePopup]="toggleNewEvent">
</popup>
