<div class="calendar">
    <div class="container-fluid">
        <div class="row">
            <div class="calendar__header">
                <div class="col-xs-4">
                    <button md-button (click)="prevMonth()">←</button>
                    <button md-button (click)="today()">Today</button>
                    <button md-button (click)="nextMonth()">→</button>
                </div>
                <div class="col-xs-4">
                    <div class="calendar__title">{{ title }}</div>
                </div>
                <div class="col-xs-4">

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="calendar__body">
            <div *ngFor="let day of days" class="calendar__day"
                 [class.calendar__day_current]="day.isCurrent"
                 [class.calendar__day_weekend]="day.isWeekend">
                <div [class.calendar__date_other-month]="day.otherMonth"
                     class="calendar__date">{{ day.date }}
                </div>
                <div *ngFor="let event of day.events"
                     [hidden]="event.slot > 3 && day.events.length > 5"
                     class="calendar__event"
                     (click)="showEvent(day, event)"
                     [style.width]="calculateWidth(day, event)"
                     [style.zIndex]="calculatezIndex(day, event)"
                     [style.top]="(16 * event.slot + 30) + 'px'"
                >
                    {{ getSummary(day, event) }}
                </div>
            </div>
        </div>
    </div>
</div>
