<nav class="navbar navbar-default navbar-fixed-top">
    <top-menu></top-menu>
</nav>

<div class="container body-container">
    <router-outlet></router-outlet>

    <md-toolbar color="primary">
        Angular Material 2 App
    </md-toolbar>

    <div style="padding: 7px">
        <button md-button>Basic Button</button>
        <button md-raised-button>Raised Button</button>
    </div>

    <div>
        <md-checkbox [checked]="checked"
                     (change)="checked = $event">
            Checkbox
        </md-checkbox>
    </div>
    <div>
        <md-input placeholder="amount" align="end">
            <span md-prefix>$&nbsp;</span>
            <span md-suffix>.00</span>
        </md-input>
    </div>

    <div>
        <!-- Simple dropdown -->
        <span dropdown (on-toggle)="toggled($event)">
            <a href id="simple-dropdown" dropdownToggle>
                Click me for a dropdown, yo!
            </a>
            <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                <li>
                    <a class="dropdown-item" href="#">Item 1</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Item 2</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Item 3</a>
                </li>
            </ul>
        </span>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Created by <a href="https://github.com/blacksonic">Soós Gábor</a> ({{ environment }}).</p>
    </div>
</footer>

<app-loader class="app-loader" *ngIf="!(getLoaded() | async)"></app-loader>
